@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Poppins:wght@300;500;800;900&display=swap');

:root {
    --white: #f7f1f1;
    --red: #e20001;
    --black: #191919;
    --font-primary: 'Manrope';
    --font-secondary: 'Poppins';

}

html,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-primary);

}

.wrapper {
    margin: 0 auto;
    max-width: 1440px;
    padding: 0 20px;
}

.logo_black::before {
    content: '';
    width: 50px;
    height: 4px;
    background-color: var(--black);
    position: absolute;
    top: 100%;
}

.logo_white::before {
    content: '';
    width: 50px;
    height: 4px;
    background-color: var(--white);
    position: absolute;
    top: 100%;
}

.logo_hover {
    position: relative;
    padding: 0 5px;
    display: inline;
}



.menuIds {
    position: relative;
}

.menuIds {
    font-size: 20px;
    position: absolute;
    color: var(--black);
    left: -2%;
    top: 20%
}