@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Poppins:wght@800;900&display=swap');

:root {
    --white: #f7f1f1;
    --red: #e20001;
    --black: #191919;
    --font-primary: 'Manrope';
    --font-secondary: 'Poppins';

}

html,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-primary);

}

.wrapper {
    padding: 20px;
    margin: 0 auto;
    max-width: 1440px;
}

.logo::before {
    content: '';
    width: 50px;
    height: 4px;
    background-color: var(--black);
    position: absolute;
    top: 100%
}

.logo_hover {
    position: relative;
    padding: 0 10px;
    display: inline-block;
}

.logo_hover::before {
    position: absolute;
    width: 100%;
    background-color: var(--black);
    height: 1px;
    content: '';
    bottom: 5%;
    z-index: 0;
    left: 0%;
}

.logo_hover:hover {
    background-color: #191919;
    color: #fff;
}